.add-employee {
  width: calc(100vw - 10px);
  height: calc(100vh - 20px);
  position: fixed;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
  overflow-y: scroll;
  left: 0;
  top: 10px;
  padding: 150px 20px;
}

.add-employee > form {
  /* position: absolute;
  top: 25%;
  left: 25%; */
  background-color:#737b87;
  width: 500px;
  min-height: fit-content;
  border-radius: 10px;
  padding: 30px 20px 5px;
  margin: 0px auto;
}

.add-employee label {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 10px;
}

.add-employee label > * {
  padding-left: 5px;
}

.add-employee span {
  margin: 5px;
  color: var(--color8);
}

/* .add-employee button {
  color: var(--color8);
} */

.add-employee .btn {
  border: none;
  background-color: #656d6fb9;
}
