/* global styles */

input,
textarea,
select {
  background-color: #fefefe;
  color: var(--cardColor);
  border: none;
  border-radius: 10px;
  outline: none;
}

input:not(input[type="radio"], input[type="checkbox"]):focus,
textarea:focus {
  outline: 1px solid #76a39c;
  border-radius: 10px;
}

input {
  outline: none;
  border-radius: 10px;
  text-align: left;
  padding: 2px 5px;
  font-size: 14px;
  font-weight: 600;
  overflow-wrap: break-word;
}

/* styling disabled input */
input:disabled,
textarea:disabled,
select:disabled {
  background-color: unset;
  color: inherit;
}

::placeholder {
  color: var(--cardColor);
  opacity: .7; /* Fix for Firefox */
}
::-ms-input-placeholder { /* For Edge 12-18 */
  color: var(--cardColor);
}

textarea {
  font-weight: 600;
  border-radius: 10px;
  text-align: left;
  font-size: 13px;
  font-weight: 600;
  text-overflow: clip;
  padding: 5px 8px;
  height: 40px;
}

/* styling checkbox */
input[type="checkbox"],
input[type="radio"] {
  position: relative;
  width: 0;
  height: 0;
}

input[type="checkbox"]::before,
input[type="radio"]::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: 15px;
  height: 15px;
  border-radius: 5px;
  /* background-color: #adc1bc47; */
  background-color: var(--primary-btn-color);
  cursor: pointer;
  transition: all 0.3s ease;
  filter: brightness(1.2);
}

input[type="checkbox"]::before {
  border: none;
}

input[type="checkbox"]:checked::after,
input[type="radio"]:checked::after {
  content: "✔";
  position: absolute;
  font-size: 18px;
  /* color: #76a39c; */
  text-align: left;
  line-height: 8px;
  border: none;
  top: -2px;
  left: 2px;
}

.btn,
.submit-btn {
  background: transparent;
  width: 90px;
  height: 30px;
  min-width: fit-content;
  padding: 2px 5px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  border: 1px solid var(--primary-color);
  /* color: var(--primary-color); */
  margin: 20px 4px;
}

.btn:hover{
  opacity: .5;
}

.submit-btn:hover {
  background-color: var(--primary-btn-color);
  color: var(--primary-color);
  border-color: var(--primary-btn-color);
  opacity: 1;
}

button:disabled, button:disabled:hover {
  background: none !important;
  filter: none !important;
  border: 1px solid var(--primary-disabled-color) !important;
  color: var(--primary-disabled-color) !important;
}

.main-item {
  background-color: var(--primary-card-gb);
}

.main-item:not(.active-card, .active):hover {
  background-color: var(--secondary-item-gb);
}

.active-card {
  background-color: var(--primary-card-gb);
  filter: brightness(.8);
}

span.close {
  background-color: var(--secondary-btn-gb);
  filter: drop-shadow(0px 0px 25px var(--primary-color));
  color: var(--primary-color);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}


span.close svg {
  width: 20px;
  height: 20px;
  filter: brightness(1.2);
}


.primary-btn,
.secondary-btn {
  color: var(--secondary-color);
  border: none;
}

.primary-btn {
  background-color: #5d2eaff3;
}

.secondary-btn {
  background-color: rgba(47, 47, 167, 0.896);
  /* background-color: rgba(47, 47, 167, 0.671); */
}

.primary-btn:hover,
.secondary-btn:hover {
  opacity: .8;
  color: var(--secondary-color);
}

.primary-btn:hover {
  background-color: #5d2eaff3 !important;
}
.secondary-btn:hover {
  background-color: rgba(47, 47, 167, 0.896) !important;
  /* background-color: rgba(47, 47, 167, 0.671); */
}

.new-btn:not(.new-btn.active) {
  color: var(--new-primary-color);
  border: 1px solid var(--new-primary-color);
}

.var-color {
  color: var(--new-primary-color);
}

main {
  margin-top: 50px;
  margin-left: 200px;
  width: calc(100vw - 200px);
  height: calc(100vh - 50px);
  padding: 20px 30px;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

main.wide {
  position: absolute;
  width: calc(100vw - 90px);
  left: 80px;
  top: 50px;
  margin: auto;
}

main.wide > .form-preview,
main.wide > .employee_position_info {
  width: calc(100vw - 140px);
}
