.aside-link {
  text-decoration: none;
  color: var(--icon-color);
  padding-left: 5px;
  margin: 0 5px;
  padding-right: 10px;
  height: var(--field-height);
  display: flex;
  align-items: center;
}

aside li:hover > .aside-link:not(.aside-link.active) {
  background-color: var(--color5);
  border-radius: 5px;
  color: var(--icon-color);
  opacity: 1;
}

aside li > .aside-link {
  color: var(--color2);
  opacity: .7;
}

.aside-link.active {
  background-color: var(--color5);
  border-radius: 5px;
  color: var(--icon-color);
  opacity: .8;
  transition: opacity .5s step-end, color .5s step-end;
  pointer-events: none;
}

.aside-link:not(.slim .aside-link) {
  padding-right: 40px;
}

aside a.active::before {
  content: '';
  width: 2px;
  height: calc(var(--field-height) - 10px);
  background-color: var(--second-dark-color);
  transform: translateX(-3px);
}

.aside-link > .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--field-height);
  height: var(--field-height);
}

.aside-link > .icon > * {
  width: 20px;
  height: 20px;
}

.aside-link > .text {
  padding-left: 5px;
  font: bold 16px 'Lato', sans-serif;
}
