table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th,
  td {
    border: none;
    width: 50px;
    padding: 20px;
    text-align: center;
  }
  
  th {
    background-color: black;
    color: white;
    font-weight: bold;
  }
  th.id {
    border-radius: 10px 0 0 0;
  }
  
  th.Extra {
    border-radius: 0 10px 0 0;
  }
  
  td {
    background-color: #323232;
    color: white;
  }