.buttomFilter {
    width: 40px;
    height: 30px;
    color: #8dd7fc;
    border: none;
    background-color: #1a9bb7;
    border-radius: 5px;
    padding: 9px;
    margin-right: 10px;
  }
  
  .buttomGo {
    width: 80px;
    height: 30px;
    color: black;
    border: none;
    background-color: #1a9bb7;
    border-radius: 5px;
    padding: 10px;
  }
  .buttomStart {
    width: 100px;
    height: 30px;
    font-weight: bold;
    background-color: #1ab759;
    border-radius: 5px;
    border: none;
    margin-right: 10px;
    padding: 10px;
  }
  .buttomEnd {
    width: 100px;
    height: 30px;
    font-weight: bold;
    background-color: #b71a1a;
    border-radius: 5px;
    border: none;
    margin-top:10px;
    margin-right: 230px;
    padding: 10px;
  }

  .buttomDate {
    width: 100px;
    height: 30px;
    color: white;
    font-weight: bold;
    background-color: #1a7eb7;
    border-radius: 5px;
    border: none;
    margin-right: 20px;
    margin-bottom: 10px;
    padding: 10px;
  }

  .buttomCalender {
    height: 30px;
    background-color: #b71a1a;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 10px;
  }