.profile .profile-company {
  position: absolute;
  top: 5px;
  left: 20px;
  padding: 10px 20px;
  width: calc(100vw - 200px);
  height: calc(100vh - 60px);
  overflow-y: scroll;
  overflow-x: hidden;
}

.profile-company form {
  width: 800px;
  min-height: 700px;
  margin: 20px auto;
  padding: 20px 40px;
  background-color: var(--primary-card-gb);
  border-radius: 20px;
  filter: drop-shadow(5px 12px 5px #363030);
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.profile-company form h1 {
  color: var(--cardColor);
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 600;
  color: #eee;
}

.profile-company form span {
  display: block;
  margin: 30px 0 5px 8px;
  letter-spacing: 2px;
}

.profile-company input,
.profile-company textarea {
  outline: none;
  border: none;
  width: 100%;
  height: 30px;
  padding-left: 10px;
  background-color: rgba(129, 139, 158, 0.289);
  resize: none;
  border-radius: 5px;
  color: var(--disabled-input-color);
}

.profile-company textarea {
  height: 50px;
}

.profile-company textarea:focus,
.profile-company input:focus {
  background-color: #fefefe;
  color: var(--cardColor);
  transition: all .5s;
}
