.company form {
  width: 800px;
  min-height: 700px;
  margin: 20px auto;
  padding: 20px 40px;
  background-color: var(--primary-card-gb);
  border-radius: 20px;
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.company form h1 {
  color: var(--cardColor);
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 600;
  color: var(--primary-color);
}

.company form span {
  display: block;
  margin: 30px 0 5px 8px;
  letter-spacing: 2px;
}

.company input,
.company textarea {
  outline: none;
  border: none;
  width: 100%;
  height: 30px;
  padding-left: 10px;
  background-color: rgba(129, 139, 158, 0.289);
  resize: none;
  border-radius: 5px;
}

.company textarea {
  height: 50px;
}

.company textarea:focus,
.company input:focus {
  background-color: #fefefe;
  transition: all .5s;
}
