.new-employee {
  height: 40px;
  width: 200px;
  position: absolute;
  right: 0;
  margin-bottom: 10px;
  line-height: 40px;
  text-align: end;
}

.new-employee button {
  width: 150px;
  height: 30px;
  margin: 5px 15px;
  border: 1px solid var(--new-primary-color);
  color: var(--new-primary-color);
}

/* styling employees-container */
.employees-container {
  margin: 10px auto;
  width: 100%;
  min-height: max-content;
}

.employees-container ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 50px auto;
}

.employees-container li {
  /* background-color: var(--primary-card-gb); */
  width: 100%;
  min-height: 30px;
  line-height: 30px;
  padding: 10px;
  border-radius: 10px;
  position: relative; /* added before adding new absence to replace li.show, li.hide */
}

.employees-container li.active > .main-info {
  display: none;
}

.employees-container .employee_position_info {
  display: none;
}

.employees-container li.active > .employee_position_info,
.employee_position_info {
  display: block;
  color: var(--primary-color);
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
}

.employee_position_info:not(li.active > .employee_position_info) {
  border-radius: 5px;
  background-color: var(--primary-card-gb);
  width: calc(100vw - 300px);
}

.employee_position_info > div {
  width: 40%;
  padding: 10px;
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  align-items: center;
}

.employee_position_info .btn {
  background-color: inherit;
  width: 20px;
  height: 20px;
}

.employee_position_info .btn:hover {
  opacity: 0.6;
}

.employee_position_info select {
  height: 30px;
}

.employees-container span.close {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  /* background-color: var(--color3); */
  /* filter: brightness(.8); */
  line-height: 25px;
  text-align: center;
}

li.hide > form,
li.hide > .absence-info,
li.hide > span.close {
  display: none;
}

li.show > .main-info {
  display: none;
}

li.hide > .absent-info > span,
li.hide > .main-info > span {
  margin: 5px;
  cursor: pointer;
  color: var(--color8);
}

li.hide:hover > .absent-info > span,
li.hide:hover > .main-info > span {
  color: var(--color8);
}

li.hide:hover > .absent-info > div,
li.hide:hover > .main-info > div {
  color: var(--color3);
}

.absent-info > div,
li.hide > .main-info > div {
  font-size: .9em;
  color: var(--pfontColor);
  margin-top: 2px;
}

/* styling employees-container_______________________ */

.employees-container .form-preview {
  width: 100%;
  margin: 0;
  margin-top: 20px;
  padding-top: 10px;
  background: transparent;
}

.employees-container table {
  width: 100%;
  margin-top: 40px;
}

.employees-container table textarea {
  resize: none;
}

.employees-container td,
.employees-container th {
  width: 100%;
  text-align: center;
}

.employees-container .submit-btn {
  width: 100px;
}

.employees-container .submit-btn svg {
  margin-left: 3px;
}

/* .employees-container .submit-btn:hover {
  color: var(--pfontColor);
} */
