.new-employee {
  height: 40px;
  width: 200px;
  position: absolute;
  right: 0;
  margin-bottom: 10px;
  line-height: 40px;
  text-align: end;
}

.new-employee button {
  width: 150px;
  height: 30px;
  margin: 5px 15px;
}

/* styling employees-container */
.employees-container {
  margin: 10px auto;
  width: 100%;
  min-height: max-content;
}

.employees-container ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 50px auto;
}

.employees-container li {
  /* background-color: var(--primary-card-gb); */
  width: 100%;
  min-height: 30px;
  line-height: 30px;
  padding: 10px;
  border-radius: 10px;
  position: relative; /* added before adding new absence to replace li.show, li.hide */
}

/* .employees-container li.hide:hover {
  background-color: var(--color2);
  transition: background-color .5s ease-in-out;
  filter: brightness(.7);
} */

.employees-container span.close {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  background-color: var(--color3);
  line-height: 25px;
  text-align: center;
  filter: brightness(.8);
}

span.close svg {
  color: var(--color13);
  width: 20px;
  height: 20px;
  margin: 2px;
  filter: brightness(1.2);
}

li.hide > form,
li.hide > .absence-info,
li.hide > span.close {
  display: none;
}

li.show > .main-info {
  display: none;
}

li.hide > .absent-info > span,
li.hide > .main-info > span {
  margin: 5px;
  cursor: pointer;
  color: var(--color8);
}

li.hide:hover > .absent-info > span,
li.hide:hover > .main-info > span {
  color: var(--color8);
}

li.hide:hover > .absent-info > div,
li.hide:hover > .main-info > div {
  color: var(--color3);
}

.absent-info > div,
li.hide > .main-info > div {
  font-size: .9em;
  color: var(--color13);
  margin-top: 2px;
}

/* styling employees-container_______________________ */

.employees-container .form-preview {
  width: 100%;
  margin: 0;
  margin-top: 20px;
  padding-top: 10px;
  background: transparent;
}

.employees-container table {
  width: 100%;
  margin-top: 40px;
}

.employees-container table textarea {
  resize: none;
}

.employees-container td,
.employees-container th {
  width: 100%;
  text-align: center;
}

.employees-container .submit-btn {
  width: 100px;
}

.employees-container .submit-btn svg {
  margin-left: 3px;
}

.employees-container .submit-btn:hover {
  color: var(--pfontColor);
}
