footer {
  /* background-color: var(--midnight-black); */
  background-color: var(--primary-header-gb);
  border-top: 1px solid rgba(0, 0, 0, .2);
  width: calc(100vw);
  height: 40px;
  position: absolute;
  bottom: 0;
  /* margin-top: 100%; */
  color: var(--new-primary-color);
}
