header {
  width: 100vw;
  height: 50px;
  background-color: var(--midnight-black);
  outline: 2px solid var(--b-dark);
}

header h1 {
  font: italic bold 25px 'Lato', sans-serif;
  color: #F2F2F2;
  width: 200px;
  height: 40px;
  padding-left: 10px;
  padding-top: 10px;
  display: flex;
  flex-flow: row nowrap;
}

h1 > span {
  font: italic bold 25px 'Lato', sans-serif;
  background-color: #F2F2F2;
  border-radius: 50%;
  color: #000000;
  width: 35px;
  height: 35px;
  margin-right: 5px;
  padding-left: 4px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
