.main-header {
  width: 100vw;
  height: 50px;
  background-color: var(--primary-header-gb);
  position: absolute;
  top: 0;
  left: 0;
}

.logo-container {
  width: 200px;
  display: flex;
  flex-flow: row nowrap;
}

.logo-container > a {
  width: 100px;
  height: 50px;
  padding: 5px 0;
}

.logo-container > span {
  color: var(--new-primary-color);
}

.expand-slim {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0 0 10px;
}

.expand-slim:hover {
  color: var(--icon-color);
}

.expand-slim > * {
  width: 20px;
  height: 20px;
}

.main-header ul.header-icons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  width: 200px;
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
  color: var(--new-primary-color);
}

.main-header ul.guest-icons {
  width: 100px;
  height: 50px;
  position: absolute;
  right: 50%;
  top: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  color: var(--new-primary-color);
}

.main-header .btns {
  position: absolute;
  right: 0;
  top: 0;
  width: 220px;
  height: 50px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  padding-top: 10px;
}

.main-header button {
  margin: 0;
}

.main-header .btns > a:last-child button {
  background-color: var(--icon-color);
  border-color: var(--icon-color);
}

.main-header .btns > a:first-child button:hover {
  border-color: transparent;
}

.header-icons > li,
.guest-icons > li {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  padding-top: 5px;
}

.header-icons > li:hover,
.guest-icons > li:hover,
.dark-ground.active {
  color: rgb(98, 161, 182);
}

.header-icons > li > :first-child,
.guest-icons > li > :first-child {
  width: 20px;
  height: 20px;
}

.header-icons > li:last-child {
  position: relative;
}

.profile-settings.show {
  display: block;
}

.profile-settings {
  display: none;
  width: 200px;
  min-height: 100px;
  padding: 15px 5px;
  position: absolute;
  top: 45px;
  right: 5px;
  border-radius: 20px;
  background-color: #d3cece;
  z-index: 1;
}

.profile-settings li {
  height: 25px;
  line-height: 25px;
  text-align: left;
  margin: 5px 0;
  position: relative;
  border-radius: 10px;
}

.profile-settings li a {
  border-radius: 10px;
  line-height: 10px;
}

.profile-settings li a.active {
  background-color: #acb4b5;
}

.profile-settings li:not(li:nth-last-child(2), li:last-child)::before {
  content: "";
  position: absolute;
  width: 80%;
  height: 1px;
  bottom: 0;
  left: 10%;
  background-color: rgb(189, 179, 179);
}

.profile-settings li:last-child {
  border: 1px solid #726c6c;
  margin-top: 20px;
  margin-bottom: 0;
}

.profile-settings li:hover {
  background-color: #acb4b5;
  border: none;
}

.profile-settings button,
.profile-settings a {
  display: inline-block;
  width: 100%;
  padding-left: 10px;
  background: transparent;
  border: none;
  text-align: left;
  height: 25px;
  line-height: 25px;
  cursor: pointer;
}

.profile-settings span {
  margin-left: 15px;
}

.dark-light.show {
  display: block;
}

.dark-light {
  display: none;
  width: 180px;
  min-height: 100px;
  padding: 15px 5px;
  position: absolute;
  top: 55px;
  right: 10px;
  border-radius: 20px;
  background-color: #d3cece;
  z-index: 1;
}

.dark-light > li {
  height: 25px;
  line-height: 25px;
  text-align: left;
  margin: 5px 0;
  position: relative;
  border-radius: 10px;
  cursor: pointer;
  padding-left: 15px;
  color: var(--midnight-black);
  display: flex;
  align-items: center;
  gap: 10px;
}

.dark-light > li:hover,
.dark-light > li.active {
  background-color: #acb4b5;
}
