:root {
  --a-dark: #202020;
  --b-dark: #323232;
  --c-dark: #272727;
  --main-black: #000000;
  --main-white: #FFFFFF;
  --midnight-black: #0A0E0B;
  --midnight-blue: #000320;
  --second-dark-color: #000205;
  --main-light-color: #D9D9D9;
  --aside-ground: rgb(6, 22, 33);
  --icon-color: #1A9BB7;
  --current-button: #1A7EB7;
  --checkbox-ground: #9CBEBE;
  --green-button: #00FF00;
  --red-button: #FF0000;
  /* --green-button: #1AB759; */
  /* --red-button: #B71A1A; */
}

.dark {
  --footer-height: 44px;
  --midnight-black: #0A0E0B;
  --seconde-dark-color: #000205;
}

* {
  font: italic bold 14px 'Lato', sans-serif;
  margin :0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  /* background-color: #677070; */
  /* background: linear-gradient(180deg, var(--second-dark-color) 0%, #5b6165 100%); */
  border-radius: 5px;
  background-color: #555555;
}

::-webkit-scrollbar-track {
  /* background-color: #292e2e; */
  background-color: var(--main-light-color);
}

#root {
  position: relative;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
}
