:root {
  --cardFont: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  --main-white: #FFFFFF;
  --main-color: #faf2e4;
  --main-light-color: #D9D9D9;
  --bgColor2: #d1f8f9;
  --main-black: #000000;
  --a-dark: #202020;
  --midnight-black: #0A0E0B;
  --midnight-blue: #000320;
  --second-dark-color: #000205;
  --bgColor8: #0d1117;
  --bgColor9: #161b22f2;
  --cardColor: #0c162d;
  --bgColor10: #30363d;
  --bgColor5: #24292f;
  --bgColor1: #1f2328;
  --b-dark: #323232;
  --c-dark: #272727;
  --bgColor3: #ff818266;
  --bgColor4: #636c76;
  --bgColor6: #57605a;
  --bgColor7: #808fa3;
  --checkbox-ground: #9CBEBE;
  --icon-color: #1A9BB7;
  --disabled-input-color: #3bb5de;
  --current-btn: #1A7EB7;
  --second-green-btn: #1AB759;
  --green-btn: #00FF00;
  --red-btn: #FF0000;
  --red-btn: #B71A1A;
  --btnColor: #20bb3d;
  --color1: #eddad1;
  --color2: #ded5d2;
  --color3: #5f5764;
  --color4: #6698c4;
  --color51: #f2ebe8;
  --color5: #dce6e7;
  --color6: #608081;
  --color7: #ceebef;
  --color8: #1e2024;
  --color9: #292b35;
  --color10: #0a7d91;
  --color11: #0a7d91;
  --color12: #8045e5;
  --color13: #99a0ab;
  --color14: #7687a1;
  --color15: #FDFDFD;
  --color15: #747775;
  --color16: #072711;
  --color17: #0f5223;
  --color18: #444746;
  --color19: #1f1f1f;
  --color20: #303030;
  --color21: #a8c7fa;
  --color22: #eaf1fb;
  --color23: #3881ca54;
  --pfontColor: #48566b;
  --aside-ground: rgb(37, 155, 233);
  /* ---------------------------------------- */
  /* --primary-card-gb: rgba(187, 202, 214, 0.803); */
  --primary-color: #0A0E0B;
  --secondary-color: #f2f2f2;
  --primary-disabled-color: rgba(16, 16, 16, 0.3);
  --primary-bg: #ccd4d383;
  --secondary-gb: var(--color15);
  --primary-card-gb: #b0bfc4b2;
  --primary-aside-color: var(--color1);
  --primary-btn-gb: #022c3a13;
  --secondary-btn-gb: #e8eef013;
  --primary-btn-color: #686f71bd;
  --primary-thead-gb: #bcbebf;
  --secondary-thead-gb: var(--primary-card-gb);
  --primary-tbody-gb: rgba(56, 74, 81, 0.422);
  --secondary-tbody-gb: rgba(56, 71, 81, 0.471);
  --secondary-item-gb: #0331435e;
  --new-primary-color: var(--primary-color);
  --new-secondary-color: #fefefe;
  --primary-header-gb: var(--color51);
  --sidebar-bg: var(--main-color);
  --primary-font-color: #333;
  --secondary-font-color: #666;
  --main-heading-color: #161d26;
  --main-pcolor: #232b37;
  --primary-bg-style:  linear-gradient(123deg, #5de8bac3, #3881caac);
}

.dark-mode {
  --main-color: #d1d3d6ec;
  --main-heading-color: #f1f1f1a0;
  --main-pcolor: #738297;
  --primary-bg: #000000e2;
  --secondary-thead-gb: rgba(68, 87, 94, 0.878);
  --primary-tbody-gb: rgba(150, 165, 177, 0.647);
  --secondary-tbody-gb: rgba(161, 169, 175, 0.718);
  --secondary-item-gb: #9ab9c5a9;
  --new-primary-color: #fefefe;
  --new-secondary-color: var(--primary-color);
  --primary-header-gb: var(--color20);
  --sidebar-bg: var(--color20);
  --secondary-font-color: #3d3b3b;
  --primary-bg-style: #2d2f35fa;
  --color23: #d1d3d6be;
}

.error,
.warning,
.message {
  color: #ff0000;
  font-size: 16px;
  margin: 5px auto;
}

.warning {
  color: #deee2a;
}

.message {
  color: #00FF00;
}

* {
  font: italic bold 14px 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000000;
}

html, body, #root {
  /* font-family: 'Roboto', sans-serif; */
  font-family: AmazonEmber, Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #fff2f2;
	height: 100vh;
	width: 100vw;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #7e8785, #5880a3);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
}