:root {
  --a-dark: #202020;
  --b-dark: #323232;
  --c-dark: #272727;
  --main-black: #000000;
  --main-white: #FFFFFF;
  --midnight-black: #0A0E0B;
  --midnight-blue: #000320;
  --second-dark-color: #000205;
  --main-light-color: #D9D9D9;
  --aside-ground: rgb(6, 22, 33);
  --icon-color: #1A9BB7;
  --disabled-input-color: #3bb5de;
  --current-btn: #1A7EB7;
  --checkbox-ground: #9CBEBE;
  --green-btn: #00FF00;
  --red-btn: #FF0000;
  --second-green-btn: #1AB759;
  --red-btn: #B71A1A;
  --bgColor1: #1f2328;
  --bgColor2: #d1f8f9;
  --bgColor3: #ff818266;
  --bgColor4: #636c76;
  --bgColor5: #24292f;
  --bgColor6: #57605a;
  --bgColor7: #808fa3;
  --bgColor8: #0d1117;
  --bgColor9: #161b22f2;
  --bgColor10: #30363d;
  --btnColor: #20bb3d;
  --cardColor: #0c162d;
  --cardFont: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}

.dark {
  --footer-height: 44px;
  --midnight-black: #0A0E0B;
  --seconde-dark-color: #000205;
}

.light {
  --color1: #eddad1;
  --color2: #ded5d2;
  --color3: #5f5764;
  --color4: #6698c4;
  --color5: #f2ebe8;
  --color6: #608081;
  --color7: #ceebef;
}

* {
  font: italic bold 14px 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000000;
}

html, body, #root {
  font-family: 'Roboto', sans-serif;
  color: #fff2f2;
	height: 100vh;
	width: 100vw;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #7e8785, #5880a3);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
}