.landing-page {
  top: 5px;
  right: 5px;
  width: 100vw;
  height: 100vh;
  padding-bottom: 50px;
  background: linear-gradient(-45deg, rgb(40, 5, 5), rgba(93, 49, 49, 0.632), #02042881, rgba(0, 75, 128, 0.768));
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}



.landing-page .logo {
  width: calc(100% - 200px);
  height: 30px;
  padding-left: 5px;
  margin-top: 5px;
}

.logo span {
  display: inline-block;
  padding: 5px 1px;
  width: 30px;
  height: 30px;
  color: #000000;
  font-weight: 600;
  font-size: 1.3rem;
}

.logo span:first-child {
  color: #fefefe;
  background-color: #000000;
  border-radius: 50%;
  padding-left: 5px;
}

.landing-page .btns {
  width: 300px;
  right: 2px;
  top: 2px;
  display: flex;
  padding-top: 20px;
  padding-left: 30px;
}

.landing-page a {
  color: #eeeeee;
}

.landing-page .btns > button {
  background: transparent;
  width: 150px;
  height: 30px;
  margin-right: 10px;
  border: none;
  border-radius: 10px;
  filter: drop-shadow(0px 1px 5px #1c1818);
}

.landing-page .btns > button:hover {
  border: none;
  background: linear-gradient(-45deg, #042a21, #253876d5, #fefefe);
	background-size: 400% 400%;
	animation: gradient 8s ease infinite;
  filter: drop-shadow(5px 12px 5px #363030);
}

.landing-page .btns > button:first-child {
  border: 1px solid #5b809f;
}

.landing-page .btns > button:last-child {
  margin-left: 5px;
  background-color: #011220;
}

.landing-page body {
  margin: 0;
  padding: 0;
  background-image: url(/src/bg.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 60% 100%;
  background-attachment: fixed;
}


.t1{
  font-size:30px;
  margin-left: 10px;
  margin-top: 150px;
}

.title{
  font-size: 80px;
}

p{
  margin-left: 10px;
  font-size:20px;
}




