.new-employee + .employee-leaves {
  margin-top: 100px;
}

.employee-leaves .header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 10px;
}

.employee-leaves .header button {
  margin: 0;
}

.employee-leaves .header button.active {
  background-color: var(--color13);
  color: var(--midnight-black);
  border: none;
}

.employee-leaves ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 50px auto;
}

.employee-leaves li {
  width: 100%;
  min-height: 30px;
  line-height: 30px;
  padding: 10px;
  border-radius: 10px;
  position: relative;
  color: var(--primary-color);
}

.employee-leaves p {
  padding: 2px;
}

.employee-leaves span {
  padding: 3px;
  margin: 2px 2px;
}

.employee-leaves span:first-child:not(.close) {
  display: inline-block;
  width: 100px;
  margin-right: 10px;
}

li:hover button.accept,
li:hover button.reject,
li:hover .show-evaluations {
  border-color: var(--color5);
  color: var(--color5);
}

.btn.reject:hover,
.btn.accept:hover {
  background-color: rgb(255,0,0, 1);
  color: white;
  border: none;
}

.btn.accept:hover {
  background-color: rgb(0, 255, 0, 0.7);
}

.employee-leaves .btns {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0;
  width: 200px;
  height: 40px;
}

.employee-leaves button {
  margin: auto auto 5px 5px;
}

/* styling trainings */
.trainings {
  width: calc(100vw - 200px);
  height: calc(100vh - 50px);
  margin-top: 50px;
  margin-left: 200px;
  padding: 30px;
}

.trainings-container {
  background-color: red;
}

.training-title,
.close {
  cursor: pointer;
}
.employee-leaves .close {
  position: absolute;
  right: 10px;
  top: 10px;
}

.employee-leaves .details {
  display: flex;
  gap: 10px;
  width: 100%;
  margin: 10px auto;
  padding: 10px 5px;
  position: relative;
}

.employee-leaves .details::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--color4);
  opacity: .3;
  top: 0;
}

.details .trainees,
.details .non-trainees {
  width: 50%;
  padding: 10px;
  margin: 0;
  height: 170px;
}

.details ul {
  height: 130px;
  overflow-y: scroll;
  margin: 15px auto;
  padding: 5px 15px 5px 0;
}

.details li {
  position: relative;
  margin: 0;
  padding: 2px 5px;
}

.details li:hover {
  border: 1px solid var(--color3);
}

.trainees span:last-child,
.non-trainees span:last-child {
  position: absolute;
  right: 5px;
  margin: 0;
  cursor: pointer;
}

.trainees li:hover span:last-child {
  border-radius: 50%;
  border: 1px solid var(--color3);
  width: 20px;
  height: 20px;
  padding: 2px;
  margin: 2px;
}

.trainees span:last-child svg {
  width: 15px;
  height: 15px;
}

.non-trainees:hover span:last-child:not(.remove) {
  border: 1px solid var(--color4);
  border-radius: 5px;
}

/* styling added-trainees */
.added-trainees {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 80px;
  overflow-y: scroll;
  border: 1px solid var(--color4);
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 15px;
}

.added-trainees h1 {
  height: 20px;
  line-height: 20px;
}

.added-trainees div:not(.btns) {
  height: 20px;
  line-height: 20px;
  margin: 5px;
  border: 1px solid var(--color4);
  border-radius: 5px;
}

.added-trainees span {
  margin: 0;
}

.added-trainees span.remove {
  position: static;
}

.added-trainees span:first-child {
  padding: 2px;
}

.added-trainees span:last-child {
  cursor: pointer;
}

.added-trainees svg {
  width: 15px;
  height: 15px;
}

.added-trainees .btns {
  position: static;
}

.added-trainees:hover {
  border: 1px solid var(--color3);
}

.added-trainees ~ ul{
  height: 50px;
}

/* styling delete trainees */
.deleted-trainees {
  height: 150px;
}

.deleted-trainees ~ ul,
.deleted-trainees + h1 {
  display: none;
}

.evaluate {
  position: absolute;
  right: 17px;
  bottom: 10px;
}

.show-evaluations + .evaluate {
  right: 170px;
}

.show-evaluations {
  position: absolute;
  right: 10px;
  bottom: 10px;
  padding: 2px 15px;
}

.evaluate:hover,
.show-evaluations:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.evaluations-list {
  background-color: var(--primary-thead-gb);
  border-radius: 5px;
  padding: 5px 10px;
  position: relative;
}

.evaluations-list .close {
  width: 20px;
  height: 20px;
  top: 5px;
  right: 5px;
}

.evaluations-list span:first-child {
  margin-left: 10px;
}

.evaluations-list p {
  font-size: 14px;
  font-weight: 400;
}
