.register-page,
.login-page {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.register-page .intro,
.login-page .intro {
  background: linear-gradient(123deg, #5de8bac3, #3881caac, #6842ffa4);
  position: absolute;
  top: 50px;
  left: 0;
  width: calc(100vw - 500px);
  height: 100%;
  padding: 100px 50px;
}

.update-password .login {
  position: static;
  margin: 50px auto;
  height: 400px;
  /* background-color: rgb(188, 193, 194); */
  border-radius: 10px;
}
.register,
.login {
  position: absolute;
  top: 50px;
  right: 0;
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 100%;
  padding: 40px;
  color: var(--new-primary-color);
  background-color: var(--sidebar-bg);
}

.register h2 {
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  color: var(--main-heading-color);
  margin-bottom: 20px;
  text-align: center;
}

.register input,
.register textarea,
.login input {
  outline: none;
  width: 100%;
  padding-left: 10px;
  background-color: rgba(129, 139, 158, 0.289);
  resize: none;
  border-radius: 5px;
  color: var(--disabled-input-color);
  margin-top: 3px;
  margin-bottom: 10px;
}

.register textarea:focus,
.login textarea:focus,
.register input:focus,
.login input:focus {
  background-color: #fefefe;
  color: var(--cardColor);
  transition: all .5s;
}

.register button,
.register input,
.login button,
.login input {
  border: none;
  border-radius: 5px;
  width: 100%;
  height: 30px;
}

.register button,
.login button {
  margin-top: 60px;
  color: #efefef;
  background-color: #040404;
}

.register button:hover,
.login button:hover {
  background-color: #2f2e2e3c;
  filter: drop-shadow(1px 1px 5px #363030);
}

.register .company-info {
  display: none;
}

.register #back {
  width: 90px;
  height: 30px;
  margin-top: 20px;
  background: none;
  border: 1px solid #fefefe;
}

.register #back:hover {
  border: none;
  background-color: #2f2e2e3c;
  filter: drop-shadow(2px 2px 5px #363030);
}

.register-link,
.reset_password-link,
.login-link {
  color: rgb(76, 74, 74);
  margin: 5px;
}

.register-link > span:last-child,
.reset_password-link > span:last-child,
.login-link > span:last-child {
  color: rgb(70, 133, 141);
}

.register-link:hover > span:last-child,
.reset_password-link:hover > span:last-child,
.login-link:hover > span:last-child {
  text-decoration: underline;
}

.login-link {
  margin-top: 20px;
}
