aside {
  --field-height: 30px;
  background-color: var(--second-dark-color);
  width: 200px;
  height: calc(100vh - 50px);
  border-top: 1px solid var(--b-dark);
  color: var(--icon-color);
}

aside.slim {
  width: 80px;
}

main.wide {
  width: calc(100vw - 80px);
  left: 70px;
}

aside ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 15px;
  padding-top: 2px;
}

aside nav {
  position: absolute;
  left: 0;
  height: 100vh;
}

aside li {
  height: var(--field-height);
  line-height: 30px;
  padding: 25px 5px;
}

.expand-slim {
  background-color: var(--color3);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  position: absolute;
  right: -15px;
  z-index: 1;
  color: var(--color2);
}

.expand-slim:hover {
  color: var(--icon-color);
}

.expand-slim > * {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  margin-top: 4px;
}

span.hide {
  display: none;
}
