aside {
  --field-height: 30px;
  background-color: var(--second-dark-color);
  width: 200px;
  height: calc(100vh - 50px);
  border-top: 1px solid var(--b-dark);
  color: var(--icon-color);
}

aside ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 15px;
  padding-top: 2px;
}

aside nav {
  width: 200px;
  position: absolute;
  left: 0;
  height: 100vh;
}

aside li {
  height: var(--field-height);
  line-height: 30px;
  padding: 25px 5px;
}
